body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8760f0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.registration-form {
    background-color: #9411e0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    padding-left: 70px;
}

.registration-form h2 {
    padding-left: 180px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input {
    width: 455px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group small {
    color: #666;
}

button {
    display: block;
    width: 91%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

